@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  margin: 0;
}

.scroll::-webkit-scrollbar {
  background: transparent;
}
.perspective {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
  scale: 0.72;
}
.forwards {
  animation: loading 3s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.front {
  transform: translateZ(280px);
}
.left {
  transform: translateX(-280px) rotateY(-90deg);
}
.right {
  transform: translateX(280px) rotateY(90deg);
}
.back {
  transform: translateZ(-280px) rotateY(180deg);
}
